.Content{
    width: 350px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
    background-color: rgb(33, 119, 231);
    border-radius: 10px;
}
.Main-Box{
    text-align: center;
}
.Button{
    margin-left: 10px;
}

.Box{
    width: 370px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 50;
    color: white;
    background-color: rgb(33, 119, 231);
    border-radius: 10px;
    text-align: center
}
.Box h4{
    font-weight: bold;
    
}